@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: outfit;
}

.hide-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar ::-webkit-scrollbar{
  display: none;
}

